<div class="contain">

    <img src="../assets/CNMPark.jpg" alt="Connor-and-madeleine" class="pic">

    <div class="about-header">HI. I'M CONNOR.</div>
    <div class="about">
        <p>Let me tell you about myself:</p>
        <p>
            I am a Computer Science graduate from Harding University (or I will be, as of 5/09/2020).<br/>
            I love to program, build computers, cook, make knives, and read.<br/>
            I've been married to my wonderful wife, Madeleine, since January 3rd, 2020.<br/>
            
        </p>
        <p id="programming">
            My first language was C++, but I've recently been enjoying learning Angular 9, which this website is written in, as well as React. <br/><br/>
            I'm really looking to join a company where I can apply the things I've been learning to bring value and make a difference with my work.
        </p>
    </div>
</div>