.pic{
width: 15rem;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 3rem;
border-radius: 50%;
}

.about{
    display: block;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.2rem;
    //word-wrap: break-word;
    line-height: 2rem;
    margin-bottom: 3em;
}

.about-header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    word-wrap: break-word;
    overflow:visible;
    line-height: 1em;
    font-weight: bold;
    font-size: 2.75rem;
}

.about-header__dep{
    display: block;
    color: #FF6663; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: bold;
    font-size: 2rem;
}

.contain{
    min-height: 35rem;
    width: 100%;
    justify-content: center;
}
