<div class="contain">
  <img src="assets/CNMPark.jpg" alt="Connor-and-madeleine" class="pic" />

  <div class="about-header">HI. I'M CONNOR.</div>
  <div class="about">
    <p>Let me tell you a little about me:</p>
    <p>
      I am a Computer Science graduate from Harding University. I love to
      program, build computers, cook, make knives, and read. I've been married
      to my wonderful wife, Madeleine, since January 3rd, 2020, and we have been
      foster parents since September of 2021. We currently care for two sweet
      9.5 month old twins.<br />
    </p>
    <p>
      My first language was C++, but my interest lies in front end web
      development, and I've recently been enjoying learning Angular and React.
      I'm really looking to join a company where I can learn and grow
      explosively, and where I can make a difference with my work.
    </p>
  </div>
</div>
