<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->
  
  <h1>Programming Language Proficiency</h1>
  <div class="languageSection">
    <h2>Desktop:</h2>
  <mat-card>
    <mat-card-title>C++</mat-card-title>
    <mat-card-content>
      <mat-progress-bar
      [color]="color"
      mode="buffer"
      value=90>
    </mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Java</mat-card-title>
    <mat-card-content>
      <mat-progress-bar
      [color]="color"
      mode="buffer"
      value=75>
    </mat-progress-bar>
    </mat-card-content>
  </mat-card>
  </div>

  <div class="languageSection">
    <h2>Web:</h2>
    <mat-card>

    <mat-card-content>

      <!--If Mobile-->
      <mat-grid-list cols="1"  gutterSize="1rem" *ngIf="isHandset$ | async; else elseBlock">
        <mat-grid-tile>    
          <mat-card-title>JavaScript</mat-card-title>
          <mat-card-content>
            <mat-progress-spinner
              [color]="color"
              mode="determinate"
              value=90>
            </mat-progress-spinner>
          </mat-card-content>

      </mat-grid-tile>

      <mat-grid-tile>    
          
          
          <mat-card-title>CSS</mat-card-title>
          <mat-card-content>
            <mat-progress-spinner
              [color]="color"
              mode="determinate"
              value=65>
            </mat-progress-spinner>
          </mat-card-content>
        
      </mat-grid-tile>

      <mat-grid-tile>    
         
          <mat-card-title>HTML</mat-card-title>
          <mat-card-content>
            <mat-progress-spinner
              [color]="color"
              mode="determinate"
              value=80>
            </mat-progress-spinner>
          </mat-card-content>
        
      </mat-grid-tile>

      <mat-grid-tile>    
          
         
          <mat-card-title>PHP</mat-card-title>
          <mat-card-content>
            <mat-progress-spinner
              [color]="color"
              mode="determinate"
              value=70>
            </mat-progress-spinner>
          </mat-card-content>
      
      </mat-grid-tile>

      </mat-grid-list>

      <!--If Desktop-->
      <ng-template #elseBlock>
        <mat-grid-list cols="4"  gutterSize="1rem">
          <mat-grid-tile>    
            <mat-card-title>JavaScript</mat-card-title>
            <mat-card-content>
              <mat-progress-spinner
                [color]="color"
                mode="determinate"
                value=90>
              </mat-progress-spinner>
            </mat-card-content>
          
  
        </mat-grid-tile>
  
        <mat-grid-tile>    
            
            
            <mat-card-title>CSS</mat-card-title>
            <mat-card-content>
              <mat-progress-spinner
                [color]="color"
                mode="determinate"
                value=65>
              </mat-progress-spinner>
            </mat-card-content>
          
        </mat-grid-tile>
  
        <mat-grid-tile>    
           
            <mat-card-title>HTML</mat-card-title>
            <mat-card-content>
              <mat-progress-spinner
                [color]="color"
                mode="determinate"
                value=80>
              </mat-progress-spinner>
            </mat-card-content>
          
        </mat-grid-tile>
  
        <mat-grid-tile>    
            
           
            <mat-card-title>PHP</mat-card-title>
            <mat-card-content>
              <mat-progress-spinner
                [color]="color"
                mode="determinate"
                value=70>
              </mat-progress-spinner>
            </mat-card-content>
        
        </mat-grid-tile>
  
        </mat-grid-list>
      </ng-template>

    </mat-card-content>
  </mat-card>
  </div>

  <div class="languageSection">
    <h2>Frameworks:</h2>
  <mat-card>
    <mat-card-title>React</mat-card-title>
    <mat-card-content>
      <mat-progress-bar
      [color]="color"
      mode="buffer"
      value=65>
    </mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Angular</mat-card-title>
    <mat-card-content>
      <mat-progress-bar
      [color]="color"
      mode="buffer"
      value=85>
    </mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Material</mat-card-title>
    <mat-card-content>
      <mat-progress-bar
      [color]="color"
      mode="buffer"
      value=65>
    </mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Bootstrap</mat-card-title>
    <mat-card-content>
      <mat-progress-bar
      [color]="color"
      mode="buffer"
      value=75>
    </mat-progress-bar>
    </mat-card-content>
  </mat-card>

  </div>


  <mat-card>
    <mat-card-content>
       <h2 class="example-h2">Progress spinner configuration</h2>
  
      <section class="example-section">
        <label class="example-margin">Color:</label>
        <mat-radio-group [(ngModel)]="color">
          <mat-radio-button class="example-margin" value="accent">
            Accent
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="warn">
            Warn
          </mat-radio-button>
        </mat-radio-group>
      </section>
  
      <section class="example-section" *ngIf="mode === 'determinate'">
        <label class="example-margin">Progress:</label>
        <mat-slider class="example-margin" [(ngModel)]="value"></mat-slider>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Result</h2>

      <mat-progress-spinner
          class="example-margin"
          [color]="color"
          mode="determinate"
          [value]="value">
      </mat-progress-spinner>
      <mat-progress-spinner
      class="example-margin"
      [color]="color"
      mode="indeterminate">
  </mat-progress-spinner>

  <mat-progress-bar
  [color]="color"
  mode="indeterminate">
  </mat-progress-bar>
  <h2>indeterminate</h2>

  <mat-progress-bar
  [color]="color"
  mode="determinate"
  [value]="value">
  </mat-progress-bar>
  <h2>determinate</h2>

  <mat-progress-bar
  [color]="color"
  [value]="value"
  mode="buffer">
  </mat-progress-bar>
  <h2>buffer</h2>

  <mat-progress-bar
  [color]="color"
  mode="query">
  </mat-progress-bar>
  <h2>query</h2>

    </mat-card-content>
  </mat-card>