mat-grid-tile{
    background-color: gray;
    border-radius: 2px;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  mat-card{
      margin-top: 2px;
  }

  mat-progress-spinner{
      display: inline-block;
  }

  mat-progress-bar{
      margin-top: 2rem;
  }