mat-divider{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div{
    display:flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    font-size: 1rem;
    height:1em;
    width: 1em;
}