<div class="anchor" id="experience"></div>
<mat-toolbar color="primary">
  <span class="spacer"></span>Experience
  <span class="spacer"></span>
</mat-toolbar>
<mat-card>
  <mat-card-title> Global Holdings LLC - QA Analyst 1 </mat-card-title>
  <mat-card-subtitle>
    Tulsa, Oklahoma | August 2020 - Present
  </mat-card-subtitle>
  <mat-card-content>
    <ul>
      Core Duties:
      <li>
        Developing and implementing test plans and cases to ensure full and
        correct software functionality
      </li>
      <li>Documenting and reporting software defects found in testing</li>
      <li>
        Collaborating with Development and Database teams to remediate any
        defects found in testing
      </li>
      <li>
        Validating that user experience will meet the expectations set forth in
        requirements
      </li>
      <li>
        Building out the regression test suite to increase future coverage
      </li>
    </ul>
  </mat-card-content>
  <mat-card-title>
    Allegro Organizational Solutions - Intern/Database Developer
  </mat-card-title>
  <mat-card-subtitle>
    Houston, Texas | June 2017 - January 2020
  </mat-card-subtitle>
  <mat-card-content>
    <ul>
      <li>
        Began career as an intern in Summer 2017 and was offered a contracting
        role after demonstrating excellent performance.
      </li>
      <li>
        Worked closely with senior developers and administrators to design and
        maintain database tables, forms, and tools
      </li>
      <li>
        Worked with APIs to ensure smooth operation of back-end processes and
        data import.
      </li>
      <li>
        Designed solutions to improve efficiency of data entry for donation
        processing via check and credit card payments.
      </li>
      <li>
        Designed and implemented manual review system for payment-to-account and
        account-to-account reconciliation
      </li>
    </ul>
  </mat-card-content>
  <mat-card-title> Chick-fil-a - Cashier </mat-card-title>
  <mat-card-subtitle>
    Rosenberg, Texas | June 2013 - August 2016
  </mat-card-subtitle>
  <mat-card-content>
    <ul>
      <li>Worked as a team member in both front of house and kitchen.</li>
      <li>
        Learned team leadership skills, time management, customer service, shift
        management, and priority control.
      </li>
      <li>
        Unofficially promoted to shift management position after displaying
        strong leadership (franchise could not afford official promotion or off
        the job training).
      </li>
    </ul>
  </mat-card-content>
</mat-card>
