<h1>Experience</h1>

<mat-card>
    <mat-card-title>
        Allegro Organizational Solutions
    </mat-card-title>
    <mat-card-subtitle>
        Houston, Texas | June 2017 - January 2020
    </mat-card-subtitle>
    <mat-card-content>
        <ul>
            <li>Began career as an intern in Summer 2017 and was offered a contracting role after demonstrating excellent performance.</li>
            <li>Worked closely with senior developers and administrators to design and maintain database tables, forms, and tools</li>
            <li>Worked with APIs to ensure smooth operation of back-end processes and data import.</li>
            <li>Designed solutions to improve efficiency of data entry for donation processing via check and credit card payments.</li>
        </ul>
    </mat-card-content>
    <mat-card-title>
        Chick-fil-a
    </mat-card-title>
    <mat-card-subtitle>
        Rosenberg, Texas | June 2013 - August 2016
    </mat-card-subtitle>
    <mat-card-content>
        <ul>
            <li>Worked as a team member in both front of house and kitchen.</li>
            <li>Learned team leadership skills, time management, customer service, shift management, and priority control.</li>
            <li id="reviews">Unofficially promoted to shift management position after displaying strong leadership (franchise could not afford official promotion or off the job training).</li>
        </ul>
    </mat-card-content>
</mat-card>