.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  box-shadow: 3px 0 6px rgba($color: #000000, $alpha: 0.24);
}

.hidden{
  display: none;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.icon-large{
  transform: scale(1.5);

}

.fsTitle{
  padding-left: 0px;
}