<mat-sidenav-container
  class="sidenav-container mat-app-background"
  [ngClass]="{ 'dark-mode': isDarkTheme }"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="nav-title">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-slide-toggle
        [(ngModel)]="isDarkTheme"
        (change)="storeTheme()"
        color="primary"
        labelPosition="before"
        class="dark-slider"
      >
        Dark Theme
      </mat-slide-toggle>
      <a mat-list-item class="menu-item" href="#programming">Programming</a>
      <a mat-list-item class="menu-item" href="#experience">Experience</a>
      <a mat-list-item class="menu-item" href="#reviews">Reviews</a>
      <a
        mat-list-item
        class="project-link"
        href="https://calbers1.github.io/my-expenses"
        target="_blank"
        rel="noopener noreferrer"
        >Expenses Project</a
      >
      <a
        mat-list-item
        class="project-link"
        href="https://calbers1.github.io/colors"
        target="_blank"
        rel="noopener noreferrer"
        >Colors</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <span id="navigation">
      <mat-toolbar [ngClass]="{ fsTitle: (isHandset$ | async) }">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon
            class="icon-large"
            aria-label="Side nav toggle icon"
            color="primary"
            >menu</mat-icon
          >
        </button>
        <h2 class="nav-title">Connor Albers</h2>
        <span class="spacer"></span>
        <span [ngClass]="{ hidden: (isHandset$ | async) }">
          <button
            mat-icon-button
            [(ngModel)]="isDarkTheme"
            ngDefaultControl
            (click)="changeTheme()"
            labelPosition="before"
            color="primary"
          >
            <mat-icon>brightness_medium</mat-icon>
          </button>
          <a mat-button href="#programming">Programming</a>
          <a mat-button href="#experience">Experience</a>
          <a mat-button href="#reviews">Reviews</a>
          <a
            mat-button
            class="project-link"
            href="https://calbers1.github.io/my-expenses"
            target="_blank"
            rel="noopener noreferrer"
            color="primary"
            >Expenses Project</a
          >
          <a
            mat-button
            class="project-link"
            href="https://calbers1.github.io/colors"
            target="_blank"
            rel="noopener noreferrer"
            color="primary"
            >Colors</a
          >
        </span>
      </mat-toolbar>
    </span>
    <ng-content></ng-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
