<h1>Reviews</h1>

<mat-card>
    <mat-card-title>
        Scott Ragsdale
    </mat-card-title>
    <mat-card-subtitle>
        Associate Professor of Computer Science at Harding University
    </mat-card-subtitle>
    <mat-card-content class="quote">
        "Connor has been a student of mine in several computer science classes during his time at Harding University. He has consistently been an A-B student in these. He has demonstrated an ability to take new information, apply it to a problem solution, and then program an application to solve that problem. He is an excellent programmer and you can tell he loves it also! He still has much to learn but don't we all in this rapidly changing field. I believe Connor will be a good teammate and work well with others although I believe he has a lot to learn in this area as well. His most impressive trait to me however is his work ethic. He really, really works hard in everything he does but especially in his Computer Science classes. I would love to have all my students display his kind of drive to achieve excellence. "
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        Steve Baber
    </mat-card-title>
    <mat-card-subtitle>
        Professor of Computer Science at Harding University
    </mat-card-subtitle>
    <mat-card-content class="quote">
        "Connor took 5 of the classes I teach, and made 3 A's and 2 B's. He is an excellent student who completes his work on-time. Connor is a self-starter. He will make an EXCELLENT employee."
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        Tim Baird
    </mat-card-title>
    <mat-card-subtitle>
        Professor and Chair, Dept of Computer Science at Harding University
    </mat-card-subtitle>
    <mat-card-content class="quote">
        "Connor has been an excellent student who has demonstrated great intelligence, strong problem-solving skills, good communication and team skills, and has always been reliable and dependable. I heartily recommend him for any software development position."
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        Coach Rags
    </mat-card-title>
    <mat-card-subtitle>
        Scud at Harding University
    </mat-card-subtitle>
    <mat-card-content class="studQuote">
    "Stud"
    </mat-card-content>
</mat-card>
