
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500;700&display=swap');


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$website-primary: mat-palette($mat-blue, A400);
$website-accent: mat-palette($mat-yellow, A600);
$website-warn: mat-palette($mat-deep-orange, A500, A200, A800);

// Create the theme object (a Sass map containing all of the palettes).
$website-theme: mat-light-theme($website-primary, $website-accent, $website-warn);


$website-primary-dark: mat-palette($mat-yellow, A400);
$website-accent-dark: mat-palette($mat-teal, A400);
$website-warn-dark: mat-palette($mat-deep-orange, A500);

$website-theme-dark: mat-dark-theme($website-primary-dark, $website-accent-dark, $website-warn-dark);


.dark-mode{
  @include angular-material-theme($website-theme-dark);
}
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($website-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}
.anchor {
  position: relative;
  top: -4rem;
}

hr{
height: 2px;
      width: 100%;
      border-width: 0;
      color: whitesmoke;
      background-color: whitesmoke;
}

.spacer{
  flex: 1 1 auto;
}

mat-sidenav-container, mat-toolbar{
  transition: 0.5s;
  font-family: 'Roboto Mono',
  monospace !important;
  font-size: 1.5em;
}

.mat-typography h2 {
  font-family: 'Roboto Mono',
  monospace !important;
  font-size: 1.25em;
}

*{
  font-family: 'Roboto Mono',
  monospace;
}